@import "tailwindcss";


body {
    box-sizing: border-box;
}

:root {
    --clr-balck: rgba(0, 0, 0, 0.90);
    --clr-prime: rgb(185, 46, 255);
    --clr-prime-rgb: 185, 46, 255;
}

.btn-cta {
    background: rgba(0, 0, 0, 0.90);
    outline: 1px solid black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 22px;
    transition: all 0.3s ease-in-out;
}

.btn-secondary {
    outline: 1px solid rgba(0, 0, 0, 0.4);
    color: var(--clr-black);
    padding: 0.5rem 1rem;
    border-radius: 22px;
    transition: all 0.3s ease-in-out;
}